Introduction to Pandas

In [1]:
import pandas as pd

1. Write a program to implement list to series conversion

In [ ]:
listdata =  [1,4,6,3]
series = pd.Series(listdata)
print(series)

0    1
1    4
2    6
3    3
dtype: int64

2. Write a python program to generate the series of dates from 1st May 2021, to 12th May 2021

In [6]:
dates = pd.date_range(start = '2021-05-01', end = '2021-05-12')
print(type(dates))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

3. Given a dictionary, convert it into corresponding dataframe and display it

In [3]:
data = {
    'p1': {'Name': 'Alice', 'Age': 25, 'City': 'New York'},
    'p2': {'Name': 'Bob', 'Age': 30, 'City': 'Paris'},
    'p3': {'Name': 'Charlie', 'Age': 35, 'City': 'London'}
}
df = pd.DataFrame.from_dict(data,orient='index')
print(df)

       Name  Age      City
p1    Alice   25  New York
p2      Bob   30     Paris
p3  Charlie   35    London

Given a 2D list, convert it into corresponding dataframe and display it

In [6]:
listdata=[
    [1,'Alice',10],
    [2,'Bob',15],
    [3,'Don',25]
]
df = pd.DataFrame(listdata,columns=['ID','Name','Score'])
print(df)

   ID   Name  Score
0   1  Alice     10
1   2    Bob     15
2   3    Don     25

5. Given a CSV file, read it into a dataframe and display it.

In [8]:
df = pd.read_csv("medal.csv")
print(df)

         Country  Gold_Medal
0  United_States          46
1  Great_Britain          27
2          China          26
3         Russia          19
4        Germany          17

6. Given a dataframe, sort it by multiple columns

In [ ]:
listdata=[
    [1,'Alice',15],
    [2,'Bob',15],
    [3,'Don',45]
]
df = pd.DataFrame(listdata,columns=['ID','Name','Score'])
print("Data frame")
print(df)
# sorting  first by score then by ascendin order of name
sorted_df = df.sort_values(by=['Score','Name'],ascending=[False,True])
print("Sorted Dataframe")
print(sorted_df)

Data frame
   ID   Name  Score
0   1  Alice     15
1   2    Bob     15
2   3    Don     45
Soretd Dataframe
   ID   Name  Score
2   3    Don     45
0   1  Alice     15
1   2    Bob     15

7. Given a dataframe with custom indexing, covert and it to default indexing and display it

In [22]:
data = [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Paris'],
    ['Charlie', 35, 'London']
]

df = pd.DataFrame(data, columns=['Name', 'Age', 'City'],index=['p1','p2','p3'])
print(df)
df = df.reset_index(drop=True) # drop=True means donâ€™t add the old index as a column.
print(df)

       Name  Age      City
p1    Alice   25  New York
p2      Bob   30     Paris
p3  Charlie   35    London
      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London

8. Given a dataframe, select first two rows and output them

In [23]:
data = [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Paris'],
    ['Charlie', 35, 'London']
]

df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])
print(df.iloc[0:2,:])

    Name  Age      City
0  Alice   25  New York
1    Bob   30     Paris