Introduction to Pandas

In [2]:
import pandas as pd
import numpy as np

1. Write a program to implement list to series conversion

In [ ]:
listdata =  [1,4,6,3]
series = pd.Series(listdata)
print(series)

0    1
1    4
2    6
3    3
dtype: int64

2. Write a python program to generate the series of dates from 1st May 2021, to 12th May 2021

In [6]:
dates = pd.date_range(start = '2021-05-01', end = '2021-05-12')
print(type(dates))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

3. Given a dictionary, convert it into corresponding dataframe and display it

In [3]:
data = {
    'p1': {'Name': 'Alice', 'Age': 25, 'City': 'New York'},
    'p2': {'Name': 'Bob', 'Age': 30, 'City': 'Paris'},
    'p3': {'Name': 'Charlie', 'Age': 35, 'City': 'London'}
}
df = pd.DataFrame.from_dict(data,orient='index')
print(df)

       Name  Age      City
p1    Alice   25  New York
p2      Bob   30     Paris
p3  Charlie   35    London

Given a 2D list, convert it into corresponding dataframe and display it

In [6]:
listdata=[
    [1,'Alice',10],
    [2,'Bob',15],
    [3,'Don',25]
]
df = pd.DataFrame(listdata,columns=['ID','Name','Score'])
print(df)

   ID   Name  Score
0   1  Alice     10
1   2    Bob     15
2   3    Don     25

5. Given a CSV file, read it into a dataframe and display it.

In [8]:
df = pd.read_csv("medal.csv")
print(df)

         Country  Gold_Medal
0  United_States          46
1  Great_Britain          27
2          China          26
3         Russia          19
4        Germany          17

6. Given a dataframe, sort it by multiple columns

In [ ]:
listdata=[
    [1,'Alice',15],
    [2,'Bob',15],
    [3,'Don',45]
]
df = pd.DataFrame(listdata,columns=['ID','Name','Score'])
print("Data frame")
print(df)
# sorting  first by score then by ascendin order of name
sorted_df = df.sort_values(by=['Score','Name'],ascending=[False,True])
print("Sorted Dataframe")
print(sorted_df)

Data frame
   ID   Name  Score
0   1  Alice     15
1   2    Bob     15
2   3    Don     45
Soretd Dataframe
   ID   Name  Score
2   3    Don     45
0   1  Alice     15
1   2    Bob     15

7. Given a dataframe with custom indexing, covert and it to default indexing and display it

In [22]:
data = [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Paris'],
    ['Charlie', 35, 'London']
]

df = pd.DataFrame(data, columns=['Name', 'Age', 'City'],index=['p1','p2','p3'])
print(df)
df = df.reset_index(drop=True) # drop=True means donâ€™t add the old index as a column.
print(df)

       Name  Age      City
p1    Alice   25  New York
p2      Bob   30     Paris
p3  Charlie   35    London
      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London

8. Given a dataframe, select first two rows and output them

In [23]:
data = [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Paris'],
    ['Charlie', 35, 'London']
]

df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])
print(df.iloc[0:2,:])

    Name  Age      City
0  Alice   25  New York
1    Bob   30     Paris

9. Given a dataframe showing name, occupation, salary of people. Find average salary per occupation

In [31]:
data = [
    ['Alice','Teacher',25000],
    ['Bob','Doctor',55000],
    ['Charlie','Teacher',20000],
    ['Dylan','Doctor',35000],
    ['Emma','Engineer',65000]
]
df = pd.DataFrame(data, columns=['Name', 'Job', 'Salary'])
print(df)
avg_by_job = df.groupby('Job')['Salary'].mean()
print(avg_by_job)

      Name       Job  Salary
0    Alice   Teacher   25000
1      Bob    Doctor   55000
2  Charlie   Teacher   20000
3    Dylan    Doctor   35000
4     Emma  Engineer   65000
Job
Doctor      45000.0
Engineer    65000.0
Teacher     22500.0
Name: Salary, dtype: float64

10. Given a dataframe with NaN values, fill the NaN values with 0.

In [36]:
data = {
    'A': [1, 2, np.nan, 4],
    'B': [np.nan, 2, 3, 4]
}

df = pd.DataFrame.from_dict(data,orient='index')
print(df)

df = df.fillna(0)

print(df)

     0  1    2  3
A  1.0  2  NaN  4
B  NaN  2  3.0  4
     0  1    2  3
A  1.0  2  0.0  4
B  0.0  2  3.0  4

11. Given is a dataframe showing Company Names (cname) and corresponding Profits 
(profit). Convert the values of Profit column such that values in it greater than 0 are 
set to True and the rest are set to False

In [ ]:
data =[
    ['TCS',100000],
    ['Accenture',200000],
    ['Infosys',-100000],
    ['Cognizant',-300000]
]
df = pd.DataFrame(data,columns=['Company','Profit'])
print(df)
temp = df.loc[df['Profit'] > 0] 
df['Profit'] = df['Profit'] > 0
print(df)

     Company  Profit
0        TCS  100000
1  Accenture  200000
2    Infosys -100000
3  Cognizant -300000
     Company  Profit
0        TCS    True
1  Accenture    True
2    Infosys   False
3  Cognizant   False

:

12. Given are 2 dataframes, with one dataframe containing Employee ID (eid), Employee 
Name (ename) and Stipend (stipend) and the other dataframe containing Employee ID 
(eid) and designation of the employee (designation). Output the Dataframe containing 
Employee ID (eid), Employee Name (ename), Stipend (stipend) and Position 
(position).

In [9]:
data1 =[
    [101,'John',30000],
    [102,'Amith',35000],
    [103,'Sona',20000]
]
df1 = pd.DataFrame(data1,columns=['ID','Name','Stipend'])

data2 =[
    [101,'Developer'],
    [102,'Developer'],
    [103,'Tester']
]

df2 = pd.DataFrame(data2,columns=['ID','Position'])

df3 = pd.merge(df1,df2,how='inner',on='ID')  #inner join (only matching keys)

print(df3)

    ID   Name  Stipend   Position
0  101   John    30000  Developer
1  102  Amith    35000  Developer
2  103   Sona    20000     Tester